:root{
    --main-color: #6eb930;
    --bg-footer: #3f008b;
    --padding: 100px
}

span{
    color: var(--main-color)
}

ul{
    list-style: none;
}

body{
    text-transform: capitalize;
}

a{
    color: white !important
}

.header{
    height: 100vh;
    background: linear-gradient(86deg, rgb(29 177 236 / 21%), rgb(91 14 214 / 52%) 100%), url(../images/head.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 76%, 0 100%);
}

.navbar{
    z-index: 1000;
    box-shadow: none !important;
}

.navbar a:hover{
    color: var(--main-color) !important
}

.text-title .btn,
.services .text .btn{
    background-color: var(--main-color) !important
}

.text-title h1{
    font-size: 50px!important
}

/* end header */

/*  start services */
.services{
    min-height: 100vh;
}

.services .cards .box{
    box-shadow:   0px 5px 20px 0px #c2c6ce;
}

/* end services*/

/* start story */
.story{
    min-height: 100vh;
    background: linear-gradient(86deg, rgb(29 177 236 / 21%), rgb(91 14 214 / 52%) 100%), url(../images/story.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 23%, 100% 0%, 100% 76%, 0 100%);
}
.story .icon{
    width: 100px;
    height: 100px;
}

.story .icon i{
    color: var(--main-color)
}
/* end story */

/* start skills */
.skills{
    min-height: 80vh;
}
.circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.circle.per-75 {
    background-image: conic-gradient(#af2937 75%, #ccc 0);
}

.circle.per-70 {
    background-image: conic-gradient(#4a006f 70%, #ccc 0);
}

.circle.per-90 {
    background-image: conic-gradient(#0442d2 90%, #ccc 0);
}

.circle.per-60 {
    background-image: conic-gradient(#0088bd 60%, #ccc 0);
}

.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    font-size: 1.85em;
    color: black;
}
 /* end skills */

/* start portfolio */
.portfolio{
    min-height: 100vh;
}
.portfolio ul li{
    transition: 0.2s;
    cursor: pointer;
}

.portfolio ul li:hover,
.portfolio ul li.active{
    color: var(--main-color)
}
.portfolio .row,
.portfolio .box{
    padding: 0!important;
}

.portfolio .box img{
    width: 100%;
}

/* end portfolio */

/* start reviews */
.reviews{
}
.reviews .main-box{
    box-shadow: 0px 0px 20px 2px #e0e0e0;
}

.reviews .main-box .info .img{
    width: 50px;
    height: 50px;
    overflow: hidden
}

.reviews .main-box .info .img img{
    width: 100%;
    height: 100%;
}

.reviews .me{
    background-color: #eeeeee;
    min-height: 100px;
    display: flex;
    align-items: center; 
}
.reviews .me button{
    background-color: var(--main-color);
}
/*end reviews*/ 
/* start footer */ 

.footer{
    background: linear-gradient(86deg, rgba(3, 73, 139, 0.72), rgba(91, 14, 214, 0.846) 100%);
    min-height: 300px;
}

.footer input{
    border: none !important;
    outline: none;
    caret-color: #6eb930;
}

.footer .icon{
    background-color: var(--main-color);
    cursor: pointer;
}
.footer .icon i{
    transition: 0.3s ease-in-out;
}
.footer .icon:hover i{
    transform: scale(1.3)
}

.footer .social i{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 10px ;
}
.footer .social i:hover{
    color: var(--main-color)
}

.footer .contact{
    position: relative;
}
.footer .contact::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background-color: #ccc;
    top: 0;
    left: 0;
}

.contact i{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.contact i:hover{
    color: var(--main-color);
    border-color: var(--main-color)!important;
}
/* end footer */ 